/* logForm.css */
.custom-text-field .MuiOutlinedInput-root {
    color: white; /* Color del texto */
    & fieldset {
        border-color: rgb(143, 143, 143); /* Color de la línea cuando no está enfocado */
    }
    &:hover fieldset {
        border-color: white; /* Color de la línea al pasar el ratón */
    }
    &.Mui-focused fieldset {
        border-color: #50a4c2; /* Color de la línea cuando está enfocado */
    }
}

.custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-input {
  color: white; /* Cambiar el color del texto */
}

.custom-text-field .MuiInputLabel-root {
  color: white; /* Cambiar el color del label */
}

.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: white; /* Cambiar el color del label cuando está enfocado */
}

.custom-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
  caret-color: white; /* Cambiar el color del cursor */
}

/* .custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline .MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input {
  border-color: white;
}

.custom-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #50a4c2; 
} */

.custom-text-field .MuiSelect-nativeInput{
  border-color: white;
}

.custom-text-field .MuiSelect-select {
  color: white; /* Cambiar el color del texto del select */
}
  